
.LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  
  }
  

  nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label.logo{
    color: #181818;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
  }
  nav ul{
    margin-right: 20px;
 

  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #181818;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
  }

  .checkbtn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 944px){
    label.logo{
      font-size: 20px;
      margin-right: 5px;
      
    }
    nav ul li a{
      font-size: 12px;
    }
  }
  @media (max-width: 944px){
    .checkbtn{
      display: block;
      margin-left: 20px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffffff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 5px;
    }
    nav ul li a{
      font-size: 15px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .partners-container img {
        max-width: 50px; 
        height: auto;
        margin: 30px;
        scroll-behavior: auto;
      }
      .heading{
        margin-left: 15em;
      }
      .video-background {
        position: relative;
        width: 100vw;
        height: 100vh; /* Adjust as needed */
        overflow: hidden;
      }
  }



  /* VideoBackground.css */
.video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
  }
  

.social-icons {
    margin-top: 20px;
  }
  
  .social-icons > svg {
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  
  }
  .social-icons  > svg:hover{
    color: #181818;
  }

.partners-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
  }
  .partners-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
  }
  .partners .text{
    margin-right: 9em;
  }
  .partners-container img {
    max-width: 100px; 
    height: auto;
    margin: 0 30px;
  }
  .partners{
    height: 20vh;
  }
  .partners-container h1{
    margin-right: 30px;
  }

  
.destinations{
    margin-top: 5em;
}

.heading h2{
    font-weight: bold;
}
 
  
  :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
  }

  
  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }
  
  /* for testing purposed to ensure the animation lined up correctly */
  .test {
    background: red !important;
  }
  
  .offer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
   
  }
 .server {
    margin: 20px;

 }
 
 .layout-image img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .server h2 {
    padding: 25px;
    font-size: 1.6em;
    margin-bottom: 8px;
    
  }

  .server p {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 25px;
    text-align: justify;
  }
  .newsletter input {
    max-width: 400px ;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    
   
  }
}

 .newsletter {
    margin-top: 20px;
    text-align: center;
    
   
  }
  
  .newsletter p {
    font-size: 1.2rem;
  }
  
  .newsletter input {
    padding: 8px;
    margin-right: 8px;
    width: 600px;
  }
  
  .newsletter button {
    padding: 8px 16px;
    background-color: #010101;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  .Footer{
    bottom: 0;
  }
  .footer {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 100%;
    background:  #010101;
    margin-top:20em;

   
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }


.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h1 {
    text-align: center;
  }
  
  .signup-container  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signup-container  button {
    background-color: #010101;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #717271;
  }
  
  .signup-container p {
    text-align: center;
    margin-top: 15px;
  }
  
  @media screen and (min-width: 600px) {
    /* Styles for tablets and larger devices */
    .signup-container {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Styles for laptops and larger devices */
    .signup-container {
      max-width: 800px;
    }
  }
  

.login-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  
  .login-container h1 {
    text-align: center;
  }
  

  
  .login-container label {
    display: block;
    margin-bottom: 3px;
  }
  
  .login-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 
    cursor: pointer;
  }
  .form-label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  } 
  
  .login-container  button {
    background-color: #010101;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .login-container button:hover {
    background-color: #717271;
  }
  
  .login-container p {
    text-align: left;
    margin-top: 15px;
  }
  
  .login-container p a {
    color: #3498db;
  }
  
  .login-container p a:hover {
    text-decoration: underline;
  }
  .login-container span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container span p{
    margin: 10px;
    text-decoration: none;
    color: #010101;
  }

  .custom-dropdown-menu {
    margin-right: 10em;
  }

  .loading-spinner svg {
    width: 2em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .loading-spinner circle {
    fill: none;
    stroke: hsl(0, 0%, 100%);
    stroke-width: 2.5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }

   .search{
    margin-top: 10em;
   }


.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
   
 
  }
  

  
  .pagination button {

    padding: 8px 12px;
    background-color: #010101;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2em;
   
  }
  
  .pagination button:hover {
    background-color: #616161;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    color: #aaa;
    border: 1px solid #ddd;
    cursor: not-allowed;
  }
  

  .pagination p {
    font-size: 16px;
    color: #555;
  }
  .photo-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .photo-item {
    width: 250px; 
    margin: 10px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .photo-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
.row{
    display: flex;
    flex-direction: row;
}
.popular-destinations{
    margin-top: 3em;
}
.home{
    margin-top:3em;
}
@media screen and (max-width: 767px) {
  

  .photo-item {
    width: 100%; 
    margin: 10px 0; 
  }
}


/* ResultPage.css */

.result-container {
    max-width: 800px;
    margin: 8em auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    flex: 1;
  }
  
  .search-bar button {
    width: 150px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .search-bar button:hover{
    background-color: #555;
  }
  
  .search-results {
    margin-bottom: 20px;
  }
  
  .search-results h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
  }
  
  .search-results li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
 .search-results li:hover{
    background-color: #ddd;
 }
  .details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Add styling for lists */
  .list-container h2 {
    flex: 1;
    border: 2px solid #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 20px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    font-size: 20px;
  }
  
 .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
  
  .list-container i {
    margin-right: 10px; 
  }

  .list-container h2:hover{
    background-color: #010101;
    color: #fff;
  }


/* SearchResultList Styles */
.search-results {
  margin-bottom: 20px;

}

.search-results h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 800px; 
  height: 250px; 
}

.search-results li:hover {
  background-color: #ddd;
}

.search-results strong {
  font-size: 16px;
  margin-bottom: 5px;
}

.search-results p {
  font-size: 14px;
  margin-bottom: 5px;
}

.search-results img {
  width: 300px;
  height: 230px;
  border-radius: 5px;
}
.search-results h2{
  margin-left: 10px;
  font-weight: bolder;
}
.details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.details-container p{
  font-size: 18px;
  font-weight: bold;
  
  


}
/* Filter.css */

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

input,
select {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}



.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #010101;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}

  .forecast-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .forecast-container ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .forecast-container ul li {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 150px;
    background-color: #1e1e1e;
    color: #f4f4f4;
  }
  #temp{
    font-weight: bolder;
    font-size: 28px;
  }

  .book-now-button {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .Location-name{
    font-weight: bolder;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }